<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninering.rocen.an"
    android:versionCode="2">
    <permission android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <application
        android:name="com.hc_xxsdk.chwxq_cmpomnmon.tcxas_lifecycle.Exeds_Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        >

         <!--应用ID-->
        <meta-data
            android:name="GAME_ID"
            android:value="10008" />
        <meta-data
            android:name="SECRET_KEY_APP"
            android:value="1ea48fd3fae324c099b57b739fdc3c65311d50f2" />
        <!--<meta-data
            android:name="GAME_ID"
            android:value="1" />
        <meta-data
            android:name="SECRET_KEY_APP"
            android:value="3422cb36e5906f7df9ea61a51944d4365b0f4c6d" />-->

        <!--SPEnvironmentTypeProduction 生产环境（默认），SPEnvironmentTypeZian资安环境-->
        <meta-data
            android:name="SPEnvironmentType"
            android:value="SPEnvironmentTypeProduction" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name="com.game.oversea.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
               <!-- 其中<data
                android:host="jhhost (替换渠道提供的GAME_ID)"
                android:scheme="jhscheme (替换渠道提供的GAME_ID)" />的组合原理配好如上-->
                <data
                    android:host="jhhost10001"
                    android:scheme="jhscheme10001" />
            </intent-filter>
        </activity>
    </application>

</manifest>